/* RESET
   ========================================================================== */

*,
*::after,
*::before {
  margin: 0;
  box-sizing: border-box;
}

ul {
  list-style-type: none;
  padding: 0;
}





/*
	Improved screen reader only CSS class
	@author Gaël Poupard
		@note Based on Yahoo!'s technique
		@author Thierry Koblentz
		@see https://www.cssmojo.com/hide-content-from-sighted-users/
	* 1.
		@note `clip` is deprecated but works everywhere
		@see https://developer.mozilla.org/en-US/docs/Web/CSS/clip
	* 2.
		@note `clip-path` is the future-proof version, but not very well supported yet
		@see https://developer.mozilla.org/en-US/docs/Web/CSS/clip-path
		@see http://caniuse.com/#search=clip-path
		@author Yvain Liechti
		@see https://twitter.com/ryuran78/status/778943389819604992
	* 3.
		@note preventing text to be condensed
		author J. Renée Beach
		@see https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
		@note Drupal 8 goes with word-wrap: normal instead
		@see https://www.drupal.org/node/2045151
		@see http://cgit.drupalcode.org/drupal/commit/?id=5b847ea
	* 4.
		@note !important is important
		@note Obviously you wanna hide something
		@author Harry Roberts
		@see https://csswizardry.com/2016/05/the-importance-of-important/
*/

.sr-only {
	border: 0 !important;
	clip: rect(1px, 1px, 1px, 1px) !important; /* 1 */
	-webkit-clip-path: inset(50%) !important;
		clip-path: inset(50%) !important;  /* 2 */
	height: 1px !important;
	margin: -1px !important;
	overflow: hidden !important;
	padding: 0 !important;
	position: absolute !important;
	width: 1px !important;
	white-space: nowrap !important;            /* 3 */
}

/*
	Use in conjunction with .sr-only to only display content when it's focused.
	@note Useful for skip links 
	@see http://www.w3.org/TR/2013/NOTE-WCAG20-TECHS-20130905/G1
	@note Based on a HTML5 Boilerplate technique, included in Bootstrap
	@note Fixed a bug with position: static on iOS 10.0.2 + VoiceOver
		@author Sylvain Pigeard
		@see https://github.com/twbs/bootstrap/issues/20732
*/
.sr-only-focusable:focus,
.sr-only-focusable:active {
	clip: auto !important;
	-webkit-clip-path: none !important;
		clip-path: none !important;
	height: auto !important;
	margin: auto !important;
	overflow: visible !important;
	width: auto !important;
	white-space: normal !important;
}




/* VARIABLES
   ========================================================================== */
:root {

  /*PRIMARY COLOR */
  --very-dark-magenta: hsl(300, 43%, 22%);
  --soft-pink: hsl(333, 80%, 67%);
  /* NEUTRAL COLOR */
  --dark-grayish-magenta: hsl(303, 10%, 53%);
  --light-grayish-magenta: hsl(300, 24%, 96%);
  --white: hsl(0, 0%, 100%);
}




/* MAIN PART
   ========================================================================== */

body {
  background: 
    url(./images/bg-pattern-top-mobile.svg) top no-repeat, 
    url(./images/bg-pattern-bottom-mobile.svg) bottom no-repeat;
  font-family: 'League Spartan', sans-serif;
}

main {
  padding: 2rem;
  margin-top: 3.4rem;
  min-height: 100vh;
}

.test {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.heading {
  width: 90%;
  line-height: 1.8rem;
}

.heading--color { color: var(--very-dark-magenta); }
.heading--size { font-size: 3rem; }
.heading--weight { font-weight: 700; }

.paragraph {
  margin-top: 1.5rem;
  margin-bottom: 2rem;
  width: 95%;
}

.paragraph--color { color: var(--dark-grayish-magenta) }

.ratings {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-bottom: 2.5rem;
}

.stars img {
  width: 14px;
  height: 14px;
}

.ratingone {
  background: var(--light-grayish-magenta);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.8rem 0;
  gap: 0.3rem;
}

.ratingone__p--color { color: var(--very-dark-magenta) }
.ratingone__p--weight { font-weight: 600; }
.ratingone__p--size { font-size: 0.938rem; }

.ratingtwo {
  background: var(--light-grayish-magenta);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.8rem 0;
  gap: 0.3rem;
}

.ratingtwo__p--color { color: var(--very-dark-magenta) }
.ratingtwo__p--weight { font-weight: 600; }
.ratingtwo__p--size { font-size: 0.938rem; }

.ratingthree {
  background: var(--light-grayish-magenta);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.8rem 0;
  gap: 0.3rem;
}

.ratingthree__p--color { color: var(--very-dark-magenta) }
.ratingthree__p--weight { font-weight: 600; }
.ratingthree__p--size { font-size: 0.938rem; }

.customers { 
  color: var(--white);
  font-size: 0.938rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.customerone {
  border-radius: 8px;
  padding: 2rem;
}

.customerone--color { background: var(--very-dark-magenta); }

.customerone__p { width: 95%; }

.userone {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-bottom: 1.5rem;
}

.userone__img {
  border-radius: 100px;
  width: 40px;
  height: 40px;
}

.infoone__p2--color { color: var(--soft-pink) }

.customertwo {
  border-radius: 8px;
  padding: 2rem;
}

.customertwo--color { background: var(--very-dark-magenta); }

.customertwo__p { width: 95%; }

.usertwo {
  display: flex;
  gap: 1rem;
  margin-bottom: 1.5rem;
}

.usertwo__img {
  border-radius: 100px;
  width: 40px;
  height: 40px;
}

.infotwo__p2--color { color: var(--soft-pink); }

.customerthree {
  border-radius: 8px;
  padding: 2rem;
}

.customerthree--color { background: var(--very-dark-magenta); }

.customerthree__p { width: 95%; }

.userthree {
  display: flex;
  gap: 1rem;
  margin-bottom: 1.5rem;
}

.userthree__img {
  border-radius: 100px;
  width: 40px;
  height: 40px;
}

.infothree__p2--color { color: var(--soft-pink);}

@media only screen and (min-width: 45rem) {

  body {
    display: grid;
    justify-content: center;
  }

  main {
    display: grid;
    grid-template-columns: 32% 10% 10%;
    grid-template-rows: 1px 1px 1px auto auto 1fr;
    gap: 3rem;
    justify-content: space-evenly;
    max-width: 90rem;
  }

  #test {
    grid-column-start: 1;
    grid-row: 1 / 5;
  }

  #ratings {
    grid-column: 2 / 4;
    grid-row: 2 / 4;
  }

  body {
    background: 
      url(./images/bg-pattern-top-desktop.svg) top left no-repeat,
      url(./images/bg-pattern-bottom-desktop.svg) bottom right no-repeat;
  }

  .test {
    text-align: left;
    align-items: normal;
  }

  #customers {
    grid-row-start: 5;
    grid-column: 1 / 4;
  }

  .customers {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1px 1px 1fr 1px 1px;
  }

  #customerone {
    grid-column-start: 1;
    grid-row-start: 1;
    grid-row-end: 4;
  }

  #customertwo {
    grid-column-start: 2;
    grid-row-start: 2;
    grid-row-end: 5;
  }

  #customerthree {
    grid-column-start: 3;
    grid-row-start: 3;
    grid-row-end: 6;
  }

  .ratings {
    display: grid;
    grid-template-columns: 20px 20px 1fr 20px 20px;
    grid-template-rows: repeat(3, fr)
  }

  .ratingone {
    flex-direction: row;
    padding: 0.8rem;
  }

  #ratingone {
    grid-column: 1 / 4;
    grid-row: 1 / 2
  }

  .ratingtwo {
    flex-direction: row;
    padding: 0.8rem;
  }

  #ratingtwo {
    grid-column: 2 / 5;
    grid-row: 2 / 3
  }

  .ratingthree {
    flex-direction: row;
    padding: 0.8rem;
  }

  #ratingthree {
    grid-column: 3 / 6;
    grid-row: 3 / 4;
  }

  .heading {
    width: 100%;
    line-height: 3rem;
  }

  .paragraph {
    width: 100%;
    font-size: 1.2rem;
  }

  .heading--size { font-size: 4rem; }
}